<!-- 
  # edit.html.erb - Tako Lansbergen 2020/02/22
  # View voor bewerken klant
-->

<h2>Wijzig klantnaam: <%= @customer.name %></h2>

<div class="form">
    <%= form_with model: @customer, url: admin_customers_path, method: "update" do |form| %>
    <div>
        <span>Nieuwe klantnaam:</span>
        <%= form.text_field :name, value: nil %>    
    </div>

    <div>
        <%= form.submit "Wijzig" %>
    </div>
    <div class="error">
        <%= @customer.errors.full_messages().first %>
    </div>
    <% end %>
</div>
