<h2>Overzicht</h2>

<table>
<tr>
    <th>Entiteit</th>
    <th>Aantal</th>
</tr>
<tr>
    <td>Klanten</td>
    <td>0</td>
</tr>
<tr>
    <td>Studenten</td>
    <td>0</td>
</tr>
<tr>
    <td>&nbsp</td>
    <td>&nbsp</td>
</tr>
<tr>
    <td>Beheeraccounts</td>
    <td><%= @admins %></td>
</tr>
<tr>
    <td>Logregels</td>
    <td><%= @log_entries.count %>/<%= Rails.configuration.max_log_entries %></td>
</tr>
</table>

<br />

<h2>Logboek</h2>
<ul>
  <% @log_entries.each do |entry| %>
    <li>
      <%= entry.created_at %> :: 
      <%= entry.severity %> :: 
      <%= entry.message %>
    </li>
  <% end %>
</ul>