<h2>Wijzig klantnaam</h2>

<div class="form">
    <%= form_with model: @customer do |form| %>
    <div>
        <span>Huidige klantnaam:</span>
        <%= form.text_field :name, :readonly => true %>
        
        <span>Nieuwe klantnaam:</span>
        <%= form.text_field :name, value: nil %>
        
    </div>

    <div>
        <%= form.submit "Wijzig" %>
    </div>
    <div class="error">
        <%= @customer.errors.full_messages().first %>
    </div>
    <% end %>
</div>
