<h2>Aangesloten klanten</h2>

<table>
  <thead>
    <tr>
      <th>Nummer</th>
      <th>Naam</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <!-- toon de (niet verwijderde) aangesloten klanten -->
  <% @customers.select{ |customer|  customer.deleted == false }.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= link_to "Naam wijzigen", edit_customer_path(customer) %></td>
      <td><%= link_to "Verwijder klant", customer_path(customer), 
          method: :delete, 
          data: { confirm: "Weet u zeker dat u de klant '#{customer.name} ' wilt verwijderen?" } %></td>
    </tr>
  <% end %>
</table>

<!-- toon link voor toevoegen klant -->
&nbsp;<%= link_to "+ Klant toevoegen", new_customer_path %>
