<!-- 
  # new.html.erb - Tako Lansbergen 2020/02/22
  # View voor aanmaken nieuwe app-gebruiker
-->

<h2>Aanmaken nieuwe App gebruiker</h2>

<div class="form">
  <%= form_with model: @api_user, url: admin_api_users_path do |form| %>
    <div>
      <span>Gebruikersaam:</span>
      <%= form.text_field :username%><br>

      <span>Wachtwoord:</span>
      <%= form.password_field :password %>
      
      <span>Bevestig wachtwoord:</span>
      <%= form.password_field :password_confirmation %>

      <span>Klantnummer:<span>
      <%= form.select :customer_id, Customer.all.select{ |customer|  customer.deleted == false }.pluck(:id) %>

      <span>Mag andere gebruikers aanmaken?</span>
      <%= form.check_box :can_add_users %>
      <br /><br />
    </div>
    <div>
      <%= form.submit "Maak aan" %>
    </div>
        <div class="error">
        <%= @api_user.errors.full_messages().first %>
    </div>
  <%end%>
</div>