<h2>Aanmaken beheeraccount</h2>

<div class="form">
  <%= form_with model: @admin_user do |form| %>
    <div>
      <span>Nieuwe gebruikernaam:</span>
      <%= form.text_field :username%><br>

      <span>Nieuw wachtwoord:</span>
      <%= form.password_field :password %>

      <span>Bevestig wachtwoord:</span>
      <%= form.password_field :password_confirmation %>
    </div>

    <div>
      <%= form.submit "Maak aan" %>
    </div>
        <div class="error">
        <%= @admin_user.errors.full_messages().first %>
    </div>
  <%end%>
</div>