<h2>Beheeraccounts</h2>

<table>
    <tr>
        <th>Accountnaam</th>
        <th>Gemaakt op</th>
        <th>Laatst gewijzigd</th>
        <th>Actie</th>
    </tr>

    <!-- toon het ingelogde account bovenaan -->
    <tr>
        <td><%= current_admin_user.username %></td>
        <td><%= current_admin_user.created_at %></td>
        <td><%= current_admin_user.updated_at %></td>
        <td><%= link_to "Wachtwoord wijzigen", edit_admin_user_path(current_admin_user) %></td>
    </tr>
    
    <!-- toon de rest van de accounts -->
    <% @admin_users.select{ |account|  account.id != current_admin_user.id }.each do |account| %>
        <tr>
            <td><%= account.username %></td>
            <td><%= account.created_at %></td>
            <td><%= account.updated_at %></td>
            <td><%= link_to "Account verwijderen", admin_user_path(account),
                  method: :delete,
                  data: { confirm: "Weet u zeker dat u beheeraccount met accountnaam '#{account.username}' wilt verwijderen?" } %></td>
        </tr>
    <% end %>
</table>