<!DOCTYPE html>
<html>
  <head>
    <title>Diplomatik</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- navigatie -->
    <div class="logo">
      <h2>Diplomatik</h2>
    </div>
    <% if admin_logged_in? %>
      <div class="navigation">
        <span>Ingelogd als: <%= current_admin_user.username %></span>
        <span>&nbsp;&bull;</span>
        <%= link_to "Overzicht", '/overview', method: :get%>
        <%= link_to "Klantbeheer", customers_path, method: :get%>
        <%= link_to "App gebruikers", api_users_path, method: :get%>
        <%= link_to "Beheeraccounts", admin_users_path, method: :get%>
        <%= link_to "Uitloggen", '/admin_logout', method: :get%>
      </div>
      <br />
    <%end%>

    <!-- pagina inhoud -->
    <div class="content">
      <%= yield %>
    </div>

  </body>
</html>
